<section class="content-header">
    <h1>
        Dashboard
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xl-4 col-12">
            <div class="info-box bg-blue">
                <span class="info-box-icon"><i class="ion ion-ios-person-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total User</span>
                    <span class="info-box-number"><%= totalUser %></span>
                    <!--
                    <div class="progress">
                        <div class="progress-bar" style="width: 45%"></div>
                    </div>
                    <span class="progress-description">
                    45% Increase in 28 Days
                    </span>
                    -->
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-book-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Book</span>
                    <span class="info-box-number"><%= totalBook %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-12">
            <div class="info-box bg-purple">
                <span class="info-box-icon"><i class="ion ion-ios-copy-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Category</span>
                    <span class="info-box-number"><%= totalCategory %></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
