.footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.table-data-empty {
    text-align: center;
    margin-top: 1rem;
}
.relative-postion {
    position: relative;
    min-height: 100vh !important;
}
.width-30-percent {
    width: 30%;
}
.width-15-percent {
    width: 15%;
}
.width-55-percent {
    width: 55%;
}
@media only screen and (min-width: 768px) {
    .lite-description {
        display: block;
        display: -webkit-box;
        height: 57px;
        font-size: 14px;
        line-height: 1.5;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
form .error {
    color: #fc4b6c;
}
.cursor-hover {
    cursor: pointer;
}
.minimun-height {
    min-height: 100vh;
}
.timeline:before {
    content: none;
}
.no-margin {
    margin: 0 !important;
}
.timer {
    color: #bd2130;
    font-size: 14px;
}
.font-size-14 {
    font-size: 14px;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}
.timeline .modal-header {
    border-bottom: 1px solid #e9ecef !important;
}
.timeline .modal-footer {
    border-top: 1px solid #e9ecef !important;
}
.close-btn {
    padding: 0px 15px !important;
    font-size: 30px !important;;
}
.padding-15 {
    padding: 15px;
}
.with-20-percent {
    width: 20%;
}
.with-40-percent {
    width: 40%;
}
.modal-body tr th:not(:first-child) {
    width: 40% !important;
}
.modal-body tr td:not(:first-child) {
    width: 40% !important;
}
.modal-body tr td:first-child {
    width: 20%;
}
.modal-body tr th:first-child {
    width: 20%;
}
.modal-body tbody {
    display: block;
    width: 100%;
}
.modal-body tr {
    display: flex;
}
.modal-body * {
    border-color: #ddd !important;
}
.image-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.padding-15px {
    padding: 15px !important;
}
.empty-text {
    text-align: center;
    color: #bd2130;
}
.empty-text:before, .empty-text:after {
    content: '';
    display: inline-block;
    border: 1px solid #bd2130;
    width: 50px;
}
section.content{
    min-height: 100vh !important;
}
.up-size {
    font-size: 20px !important;
}
.label-red {
    background-color: #fc4b6c !important;
}
.normal-white-space {
    white-space: normal !important;
    font-size: 12px !important;
    width: 100% !important;
}
.unread-noti {
    background: #f4f4f4 !important;
    display: flex;
}
.noti-avatar {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}
.img-side {
    align-self: center;
}
.noti-content {
    width: 415px !important;
}
.notify-content {
    display: block;
    margin-bottom: 15px;
}
.size-100-percent {
    font-size: 100% !important;
}
.padding-left-10 {
    padding-right: 10px !important;
}
.flex-list {
    display: flex !important;
}
.menu li:hover {
    background: #f4f4f4 !important;
}
.info-color {
    color: #389af0 !important;
    cursor: pointer !important;
}
.loading-icon {
    display: inline-block;
    padding: 20px 0;
    font-size: 25px;
}
.cursor-hover td:nth-child(4) {
    width: 49% !important;
}
.box-custom {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}
.tool-fix-width {
    max-width: 400px !important;
}
.padding-select {
    padding-right: 15px !important;
}
