.footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.table-data-empty {
    text-align: center;
    margin-top: 1rem;
}
.relative-postion {
    position: relative;
}
.width-30-percent {
    width: 30%;
}
.width-15-percent {
    width: 15%;
}
.width-55-percent {
    width: 55%;
}
@media only screen and (min-width: 768px) {
    .lite-description {
        display: block;
        display: -webkit-box;
        height: 57px;
        font-size: 14px;
        line-height: 1.5;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
form .error {
    color: #fc4b6c;
}
.cursor-hover {
    cursor: pointer;
}
